<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
<form action="/login" method="post" id="loginForm">

    <!--login-->
    <div class="row mb-3">
        <label for="InputLogin" class="col-sm-1 col-form-label">User</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="InputLogin" name="InputLogin">
        </div>
        <!--pass-->
        <div class="row mb-3">
            <label for="InputPass" class="col-sm-1 col-form-label">Pass</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="InputPass" name="InputPass">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Login</button>

</form>
</body>
</html>