<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students list</title>
    <style>
        *thead {
            padding-right:50px;
            padding-top: 10px;

        }

        .name {


        }

        .surname {

        }

        .group {

        }

        .score {

        }
    </style>
</head>
<body>
<table>
    <thead>
      <tr>
        <td class="name">Имя</td>
        <td class="surname">Фамилия</td>
        <td class="group">Номер группы</td>
        <td class="score">Баллов</td>
      </tr>
    </thead>
</table>

</body>
</html>